body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* --------------------------------------HEADER----------------------------------------------------- */
.page-hader {
    border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.accent {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.header-logo {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding: 24px 0;
    margin-right: 76px;
}
.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf
}
.contacts {
    margin-left: auto;
}
.address-list-link {
display: block;
padding: 24px 0;
font-weight: 400;
font-size: 16px;
font-style: normal;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.address-list-link:hover,
.address-list-link:focus {
color: #404bbf
}
/* ------------------------------------------------HERO---------------------------------------------------------- */

.hero {
background-color: #2E2F42;
}
.hero-title {
    padding-top: 188px;
    padding-bottom: 48px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color:#4D5AE5 ;
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
background-color: #404bbf;
}
/* -----------------------------------------------FEATURES----------------------------------------------------- */

.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.features-text {
line-height: 1.5;
letter-spacing: 0.02em;
}
/* -------------------------------------------TEAM-------------------------------------------------------------- */
.team {
background-color: #F4F4FD;
}
.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.team-list {}
.team-item {
background-color: #ffffff;
}
.team-img {}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.team-text {
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
/* ---------------------------------------------PORTFOLIO---------------------------------------------------- */
.portfolio {}

.portfolio-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* ---------------------------------------------FOOTER------------------------------------------------------- */
.footer {
background-color: #2E2F42
}
.footer-logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}